<launch>
  <param name="use_sim_time" value="true" />
  <arg name="path" default="/home/kchrist/ros_bags/data/" />
  <arg name="file_1" default="2018-03-19-15-12-28" />
  <arg name="file_2" default="2018-03-19-15-28-11" />
  <arg name="file_3" default="2018-03-19-15-31-16" />

  <arg name="file_4" default="2018-03-19-15-34-31" />
  <arg name="file_5" default="2018-03-19-15-38-32" />
  <arg name="file_6" default="2018-03-19-15-40-35" />

  <arg name="file_7" default="2018-03-19-15-41-51" />
  <arg name="file_8" default="2018-03-19-15-43-17" />
  <arg name="file_9" default="2018-03-19-15-44-37" />

  <arg name="file_10" default="2018-03-19-15-48-07" />
  <arg name="file_11" default="2018-03-19-15-50-08" />
  <arg name="file_12" default="2018-03-19-15-53-48" />

  <arg name="file_13" default="2018-03-19-15-54-48" />
  <arg name="file_14" default="2018-03-19-15-56-51" />
  <arg name="file_15" default="2018-03-19-15-59-32" />


  <node name="listener" pkg="livemap_ros" required="true" output="screen" type="listener" />
  <node pkg="rosbag" type="play" required="true" name="player" args="--clock $(arg path)$(arg file_14).bag "/>


</launch>
